<nav *ngIf="currentNav!=5">
	<a (click)="navContact()"><span class="navtext" [class.active]="currentNav==4">Contact</span></a>
	<a (click)="navHome()"><span class="navtext" [class.active]="currentNav==1">Info</span></a>
	<a (click)="navWorkDetail()"><span class="navtext" [class.active]="currentNav==3">Case Study</span></a>
	<a (click)="navWorkList()"><span class="navtext" [class.active]="currentNav==2">Portfolio</span></a>
</nav>
<router-outlet></router-outlet>
<canvas appWave [ngStyle]="{'z-index':showCanvas,'transform':'rotate('+canvasRotate+'deg)','position':canvasPosition}"></canvas>
<div class="controlerDisplay">
	
	<div class="btnhold up">
		<span class="arrow" [class.active]="controlArray[0]"></span>
	</div>
	<div class="btnhold lf">
		<span class="arrow" [class.active]="controlArray[1]"></span>
	</div>
	<div class="btnhold ct">
		<span><span></span></span>
	</div>
	<div class="btnhold rt">
		<span class="arrow" [class.active]="controlArray[3]"></span>
	</div>
	<div class="btnhold dw">
		<span class="arrow" [class.active]="controlArray[2]"></span>
	</div>
<!-- 	<div class="btnhold up">
		<span class="icon-arrow-long-up" [class.active]="controlArray[0]"></span>
	</div>
	<div class="btnhold lf">
		<span class="icon-arrow-long-left" [class.active]="controlArray[1]"></span>
	</div>
	<div class="btnhold dw">
		<span class="icon-arrow-long-down" [class.active]="controlArray[2]"></span>
	</div>
	<div class="btnhold rt">
		<span class="icon-arrow-long-right" [class.active]="controlArray[3]"></span>
	</div> -->
</div>